@{
    ViewBag.Title = "CustomerMain";
}

@{ 
    var Currentcustomer = ViewBag.CurrenCustomer;
}
<link type="text/css" href="~/Content/Customer.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-10">
    <!--need ro add bootstrap scaling-->
    <form method="post">
        <input type="text" name="Searchinput">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
        </div>
    <div class="co-md-2">
    <p>You're logged in as: @Currentcustomer.Name</p>
        </div>
</div>

@if (ViewBag.showcart == false)
{
<!--Show Allproducts-->
<div class="row">
    <!--need to add bootstrap scaling-->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Catagorie</th>
                <th>Stock</th>
                <th>Discount</th>
            </tr>
        </thead>

@if (ViewBag.filterlist == null)
{
        <tbody>
     @foreach (var product in ViewBag.allproducts)
     {
         int totaalafprijs = 0;
         foreach (var discount in product.Discount)
         {
             totaalafprijs = totaalafprijs + discount.Amount;
         }
         <tr>
             <td>@product.Name</td>
             <td>€@product.Price,-</td>
             <td>@product.Categorie</td>
             <td>@product.Amount</td>
             <td>-@totaalafprijs %</td>
             <td><form method="post"><button type="submit" class="btn btn-primary" value="@product.Name" name="ProductNameInput">Order</button></form></td>
         </tr>
     }
            </tbody>
}
else
{
    <tbody>
        @foreach (var product in ViewBag.filterlist)
        {
            int totaalafprijs = 0;
            foreach (var discount in product.Discount)
            {
                totaalafprijs = totaalafprijs + discount.Amount;
            }
            <tr>
                <td>@product.Name</td>
                <td>€@product.Price,-</td>
                <td>@product.Categorie</td>
                <td>@product.Amount</td>
                <td>-@totaalafprijs %</td>
                <td><form method="post"><button type="submit" class="btn btn-primary" value="@product.Name" name="ProductNameInput">Order</button></form></td>
            </tr>
        }
    </tbody>
}
    </table>
</div>

}
else if (ViewBag.showcart == true)
{
    <!--Show cartproducts-->
    <div class="row">
        <!--need to add bootstrap scaling-->
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Catagorie</th>
                    <th>Stock</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var product in ViewBag.cartproducts)
                {
                    int totaalafprijs = 0;
                    foreach (var discount in product.Discount)
                    {
                        totaalafprijs = totaalafprijs + discount.Amount;
                    }
                    <tr>
                        <td>@product.Name</td>
                        <td>€@product.Price,-</td>
                        <td>@product.Categorie</td>
                        <td>@product.Amount</td>
                        <td>-@totaalafprijs %</td>
                    </tr>
                }
                <tr>
                    <td>totalprice: €@ViewBag.totalprice,-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
}


<div class="row">
    <div class="col-md-2">
    <!--Need to add bootstrap Scaling-->
    @if (Enumerable.Count(ViewBag.cartproducts) > 0)
    {
        <form method="post"><button class="btn btn-info" name="ConfirmOrder" value="Confirm">Confirm Order</button></form>
    }
    else
    {
        <button class="btn btn-info disabled">No products in cart</button>
    }
        </div>
    <div class="col-md-2">
        <form method="post"><button class="btn btn-info" value="Showcart" name="Showcart">Show Cart-content</button></form>
    </div>
    <div class="col-md-2">
        <form method="post"><button class="btn btn-info" value="Clearcart" name="Clearcart">Clear Cart</button></form>
    </div>
    <div class="col-md-6 col-md-offset-8" >
        <p>You have @Enumerable.Count(ViewBag.cartproducts) products in you're cart</p> 
    </div>
</div>